//ibuild.jfrog.io/ibuild/api/npm/npm/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiIxSXRCWFhzSmptM0UwdXJ0TVNOOE9vZTBLSjUzRVZvVkl5UmZBRzJYNDA4In0.eyJzdWIiOiJqZi1hcnRpZmFjdG9yeUA3Mzc1ZmE3YS1jYWQ4LTQ1MzAtYTk4OS1hYTJjY2ZjMzYxYmRcL3VzZXJzXC9ucG0tcmVhZC1vbmx5Iiwic2NwIjoibWVtYmVyLW9mLWdyb3VwczoqIGFwaToqIiwiYXVkIjoiamYtYXJ0aWZhY3RvcnlANzM3NWZhN2EtY2FkOC00NTMwLWE5ODktYWEyY2NmYzM2MWJkIiwiaXNzIjoiamYtYXJ0aWZhY3RvcnlANzM3NWZhN2EtY2FkOC00NTMwLWE5ODktYWEyY2NmYzM2MWJkXC91c2Vyc1wvbnBtLXJlYWQtb25seSIsImlhdCI6MTU3NzQ1ODc3MiwianRpIjoiZmNiMDFkNTMtNzg3NC00MzU0LThjNmMtYmRhYmI2OGM5ZTgyIn0.PEXuOX1_lhn-xuXYlieHQUnD5Cjvu0jyMwR97BHj-4CB_4PNj21SUyKuEQHlfCgf6etpH4Tf47NT7MEMx3GSoqffgA9BJZRF7-max0G3TkPUFXVtg5x0WDux1Jtixijywt7GOqhku-fIW2hiGUEgiOlKnOY0xwqC6AAhLuaNAp2W67dT6kdNhvodwHlsoLYp94uLbQIT3iv-sbjk0hLX_6aNXCVox2iYCeGsEo-F_xq0pRpDQAJgYqDsL28W38-tePYhR30Z-dZ-XlU8yBPOXiFy8SMV54f45RXDYTTLR2zM-rdN5BhDTOJHjnKVcrNwZjmwY5yNhoackB8hDOxd-g

@rn:registry=https://ibuild.jfrog.io/ibuild/api/npm/npm/
@ib:registry=https://ibuild.jfrog.io/ibuild/api/npm/npm/
@ae:registry=https://ibuild.jfrog.io/ibuild/api/npm/npm/
registry=https://registry.npmjs.org/

save-exact=true
engine-strict=true