.slick-prev,.slick-prev:before, .slick-prev:hover {
    z-index: 1;
    background: black;
    border-radius: 50%;
    width: 20px;
    height:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slick-next,.slick-next::before, .slick-next:hover {
    z-index: 1;
    background: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slick-prev:before{
    font-size: 25px;
}

.slick-next:before{
    font-size: 25px;
}